ul{
	list-style-type:none;
	display:flex;
	padding:0;
	margin:0;
}
li{
	width:100px;
	text-align:center;
	box-sizing:border-box;
	padding:20px 0px 20px 0px;
	background-color:#053742;
	font-weight:bold;
}
li a{
	color:powderblue;
	text-decoration:none;
}
li:hover{
	background-color:#656565;
	cursor:pointer;
	font-size:18px;
}

.nav #icon{
	color:white;
	font-size:30px;
	line-height:80px;
	float:right;
	margin-right:40px;
	cursor:pointer;
}
i{
	color:powderblue;
}
.end{
	  margin-left:500px;
}
header{
	background-color:#053742;
}

.occ{
	font-size:30px;
	color:red;
}
h1{
	color:red;
	font-weight:bold;
	text-align:center;
}
.input , #date{
	border:2px solid black;
	border-radius:80px;
}
#input{
	cursor:pointer;
}
#input:hover{
	background-color:pink;
}
#countdown-container {
    display: inline-block; 
    width: 320px;			
    margin: 20px 0; 
    border-radius: 5px; 
    background: #000; 
	border-radius:80px;
}
#countdown {
    font-family: "Fira Sans", sans-serif; 
    display: inline-block; 
    padding: 30px; 
    background: #000;
    color: white;
	border-radius:80px;
}

#countdown span {
    font-weight: bold; 
    font-size: 30px; 
}

legend{
	color:green;
	font-size:150%;
	text-align:center;
}
fieldset{
	border:2px solid black;
	border-radius:40px;
}
.bloc1{
	display:flex;
	flex-direction:column;
}
.bloc{
	width:99%;
	height:100%;
	padding:10px 0px 14px 10px;
}
.max{
	color:#000033;
	font-weight:bold;
}
label{
	font-size:145%;
	color:red;
	font-weight:bold;
}
input{
	font-size:150%;
	color:green;
}
.hh{
	color:blue;
}
..erreur{
	font-size:140%;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

footer{
    bottom: 0;
    width: 100%;
    background-color: #053742;
	margin:20px 0 0 0 ;
	border:1px solid black;
	border-radius:20px
}

.container{
    display: flex;
    padding: 3rem;
}

.container .section{
    flex-basis: 50%;
    padding: 0 20px;
}

.section h4{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.section .content{
    margin:20px 0 0 0;
    position: relative;
}

.section .content::before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
}

.section .content::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background-color: #dd5f24;
    top: -10px;
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: transparent;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 50px;
    transition: 0.4s;
    border:1px solid #656565;
}


.left .content .social a span:hover{
    background: #dd5f24;
}

.center .content .fa{
    font-size: 1.1rem;
    background: transparent;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    border:1px solid #656565;
}

.center .content .fa:hover{
    background: #dd5f24;
    border:1px solid #dd5f24;
}

.center .content .text{
    font-size: 1.0.6rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone{
    margin: 15px 0;
}

.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form input{
    width: 100%;
    font-size: 1.0625rem;
    background: transparent;
    border: 1px solid #656565;
}

.right form input{
    height: 35px;
}

.right form .btn{
    margin-top: 10px;
}

.right form .btn button{
    height: 40px;
    width: 100%;
    border:none;
    outline: none;
    background: #dd5f24;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}


.right form .btn button:hover{
    background: powderblue;
}

.footer-bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
	border:1px solid black;
	border-radius:20px
}

.footer-bottom center span{
    color: #656565;
}

.footer-bottom center a{
    text-decoration: none;
}

.footer-bottom center a:hover{
    text-decoration: underline;
}

@media screen and (max-width:700px){
    footer{
        position: relative;
        bottom: 0px;
    }

    .left .content{
        padding-right:0px;
        padding-bottom: 30px;
    }

    .container{
        flex-wrap: wrap;
        flex-direction: column;
        padding:0.5rem;
    }

    .container .section{
        margin:5px 0;
    }
}



.box ,#form  {
  width: 100%;
  box-sizing: border-box;
  padding: 45px;
  position: relative;
  overflow: hidden;
}



.box .content,#form {
  position: relative;
  background-color: white;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  font-family: sans-serif;
  z-index: 11;
}

.box,
.box .content, #form{
  box-shadow: 0 0 2px deeppink,
        0 0 40px rgba(0, 0, 0, 1),
        inset 0 0 25px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.box .content h2 ,#form {
  color: deeppink;
}

.box .content p ,#form {
  color: dimgray;
}
