ul{
	list-style-type:none;
	display:flex;
	padding:0;
	margin:0;
}
li{
	width:100px;
	text-align:center;
	box-sizing:border-box;
	padding:20px 0px 20px 0px;
	background-color:#053742;
	font-weight:bold;
}
li a{
	color:powderblue;
	text-decoration:none;
}
li:hover{
	background-color:#656565;
	cursor:pointer;
	font-size:19px;
}

.nav #icon{
	color:white;
	font-size:30px;
	line-height:80px;
	float:right;
	margin-right:40px;
	cursor:pointer;
}
i{
	color:powderblue;
}
.end{
	  margin-left:500px;
}

header{
	background-color:#053742;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 50px 0px 0px 500px;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 54.5%;
  margin-top: -22px;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* Number text (1/3 etc) */
.numbertext {
  color: red;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.title{
	color:green;
	font-size:20px;
}
.prop{
	font-weight:bold;
	color:blue;
}
.prop1{
	font-weight:bold;
}
.paragraphe{
	font-weight:bold;
	width:150px;
	height:15px;
	border:2px solid red;
	border-radius:30px;
	padding:0px 10px 0px 10px;
	box-shadow:10px 10px 10px red;
}

.title1{
	color:red;
	text-align:center;
	font-size:25px;
}
#title1 {
	  position:absolute;
      left:0px;
	  top:50px;
	  font-size:175%;
	  margin:50px 0 0 0 ;
}
tbody tr:nth-child(odd){
	background-color:#f2f2f2;
}
.table{
	background-color:yellow;
	width:625px;
}
body{
	background-color:powderblue;
}
.fiche{
	display:flex;
	border:2px solid red ;
	border-radius:30px;
	width:10px;
	height:10px;
	box-shadow:10px 10px 10px red;
}
.blc1{
	margin:0px 100px 15px 30px;
}
.blc2{
	margin:0px 200px 0px 0px;
	padding:0px 0px 0px 100px;
}
.hh{
	color:green;
}
h1{
   text-align:center;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

footer{
    bottom: 0;
    width: 100%;
    background-color: #053742;
	margin:20px 0 0 0 ;
    border:1px solid black;
	border-radius:20px
}

.container{
    display: flex;
    padding: 3rem;
}

.container .section{
    flex-basis: 50%;
    padding: 0 20px;
}

.section h4{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.section .content{
    margin:20px 0 0 0;
    position: relative;
}

.section .content::before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
}

.section .content::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background-color: #dd5f24;
    top: -10px;
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: transparent;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 50px;
    transition: 0.4s;
    border:1px solid #656565;
}


.left .content .social a span:hover{
    background: #dd5f24;
}

.center .content .fa{
    font-size: 1.1rem;
    background: transparent;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    border:1px solid #656565;
}

.center .content .fa:hover{
    background: #dd5f24;
    border:1px solid #dd5f24;
}

.center .content .text{
    font-size: 1.0.6rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone{
    margin: 15px 0;
}

.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form input{
    width: 100%;
    font-size: 1.0625rem;
    background: transparent;
    border: 1px solid #656565;
}

.right form input{
    height: 35px;
}

.right form .btn{
    margin-top: 10px;
}

.right form .btn button{
    height: 40px;
    width: 100%;
    border:none;
    outline: none;
    background: #dd5f24;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}


.right form .btn button:hover{
    background: powderblue;
}

.footer-bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
	border:1px solid black;
	border-radius:20px
}

.footer-bottom center span{
    color: #656565;
}

.footer-bottom center a{
    text-decoration: none;
}

.footer-bottom center a:hover{
    text-decoration: underline;
}

@media screen and (max-width:700px){
    footer{
        position: relative;
        bottom: 0px;
    }

    .left .content{
        padding-right:0px;
        padding-bottom: 30px;
    }

    .container{
        flex-wrap: wrap;
        flex-direction: column;
        padding:0.5rem;
    }

    .container .section{
        margin:5px 0;
    }
}
